<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Dashboard<hr></span>
        </div>

        <Section class="section-statistique">
            <div class="div-statistique">
                <span class="num-statistique-card">50</span><br>
                <span class="name-statistique-card">Produit</span>
            </div>
            <div class="div-statistique">
                <span class="num-statistique-card">50</span><br>
                <span class="name-statistique-card">Produit</span>
            </div>
            <div class="div-statistique">
                <span class="num-statistique-card">50</span><br>
                <span class="name-statistique-card">Produit</span>
            </div>
            <div class="div-statistique">
                <span class="num-statistique-card">50</span><br>
                <span class="name-statistique-card">Produit</span>
            </div>
        </Section>
        <section class="section-prd-cmd">
            <div class="div-most-prod">
                <div class="content-most-prod">
                    <span class="most-prod-titre">Produit plus vendu<hr></span>
                    <div class="most-prod-line">
                        <div class="most-prod-img-line">
                            <div class="most-prod-img"></div>
                        </div>
                        <div class="most-prod-name-line">
                            <span id="most-prod-name">Produit</span>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="div-recent-cmd">
                <div class="content-recent-cmd">
                    <span class="recent-cmd-titre">Commande récente<hr></span>
                    <div class="recent-cmd-line">

                    </div>
                </div>
            </div>
        </section>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>

</html>