<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Dashboard<hr></span>
        </div>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>

</html>