<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Tableau de bord<hr></span>
        </div>
<!-- 
        <section class="section-recent-commande">
            <span class="recent-commande-titre">Commande plus récente<br></span>
            <div class="recent-commande-line">

            </div>
        </section> -->

        <section class="section-recent-reservation">
            <span class="recent-reservation-titre">Reservation plus récente<hr></span>
            <div class="recent-reservation-header">
                <div class="recent-reservation-line-name">Nom</div>
                <div class="recent-reservation-line-siege">Siège</div>
                <div class="recent-reservation-line-date">Date</div>
            </div>
            <div class="recent-reservation-line">
                <div class="recent-reservation-line-name"></div>
                <div class="recent-reservation-line-siege"></div>
                <div class="recent-reservation-line-date"></div>
            </div>
        </section>
    </main>
    <%- include('../partials/bootstrap.ejs')%>
</body>

</html>