<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Nos Produit<hr></span>
        </div>
        <section class="section-nos-produit">
            <span class="category-nos-produit">Category<hr></span>
        
            <div class="nos-produit-line">
                <div class="nos-produit-img-line">
                    <img class="nos-produit-img">
                </div>
                <div class="nos-produit-id-line">
                    <span class="nos-produit-id">JDnb2un4j45</span>
                </div>
                <div class="nos-produit-name-line">
                    <span class="nos-produit-name">Produit</span>
                </div>
                <div class="nos-produit-prix-line">
                    <span class="nos-produit-prix">24.00$</span>
                </div>
                <div class="nos-produit-btn-line">
                    <button class="nos-produit-btn-del">Delete</button>
                    <button class="nos-produit-btn-edit">Edit</button>
                </div>
            </div>
        </section>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>
</html>