<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Liste d'Utilisateurs<hr></span>
        </div>
        <section class="utilisateur-section">
            <div class="utilisateur-header">
                <div class="utilisateur-line-name">Name</div>
                <div class="utilisateur-line-email">Email</div>
                <div class="utilisateur-line-number">Phone Number</div>
                <div class="utilisateur-line-address">Address</div>
                <div class="utilisateur-line-zip">Postal Code</div>
                <div class="utilisateur-line-password">Password</div>
            </div>
            <div class="Utilisateur-line">
                <div class="utilisateur-line-name"></div>
                <div class="utilisateur-line-email"></div>
                <div class="utilisateur-line-number"></div>
                <div class="utilisateur-line-address"></div>
                <div class="utilisateur-line-zip"></div>
                <div class="utilisateur-line-password"></div>
            </div>
        </section>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>
</html>