<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">List d'Utilisateurs<hr></span>
        </div>
        <div class="utilisateur-header">
            <div class="utilisateur-name"></div>
            <div class="utilisateur-email"></div>
            <div class="utilisateur-number"></div>
            <div class="utilisateur-address"></div>
            <div class="utilisateur-zip"></div>
        </div>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>
</html>