<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Liste d'utilisateurs<hr></span>
        </div>
        <section class="utilisateur-section">
            <div class="utilisateur-header">
                <div class="utilisateur-line-name">Nom</div>
                <div class="utilisateur-line-email">Courriel</div>
                <div class="utilisateur-line-number">Numéro de téléphone</div>
                <div class="utilisateur-line-address">Adresse</div>
                <div class="utilisateur-line-zip">Code postal</div>
            </div>
            <div class="utilisateur-line">
                <div class="utilisateur-line-name"></div>
                <div class="utilisateur-line-email"></div>
                <div class="utilisateur-line-number"></div>
                <div class="utilisateur-line-address"></div>
                <div class="utilisateur-line-zip"></div>
            </div>
        </section>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>
</html>