/* Index Page */

.front-header {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(194, 105, 105);
    height: 500px;
}

#front-header-div {
    text-align: center;
    width: 50%;
    float: left;
}

#front-header-text {
    padding-top: 150px;
}

#front-header-small-text {
    font-size: 20px;
    color: white;
    font-family: Arial;
    font-style: italic;
    font-weight: lighter;
}

#front-header-title {
    font-size: 65px;
    color: white;
    font-family: cursive;
}

#front-header-img {
    padding-top: 25px;
    padding-left: 2.5%;
}

.nos-special-section {
    margin: 5pc;
    height: 400px;
    background-color: rgb(185, 181, 181, 0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#nos-special-div {
    width: 50%;
    float: left;
}

#nos-special-txt {
    padding-top: 20px;
    padding-left: 20px;
}

#nos-special-title {
    font-size: 40px;
    font-family: cursive;
    text-decoration: underline;
    font-weight: lighter;
    font-style: oblique;
    color: white;
}

#nos-special-paragraphe {
    font-size: 20px;
    padding: 6pc;
    text-align: justify;
    color: white;
    font-family: Arial;
    font-style: italic;
}

.menu-section {
    margin: 5pc;
    border-radius: 10px;
    height: 200px;
    background-color: rgb(194, 105, 105);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#menu-div {
    width: 50%;
    float: left;
}

#menu-paragraphe {
    font-size: 20px;
    padding: 2.5pc;
    text-align: justify;
    color: white;
    font-family: Arial;
    font-style: italic;
}

#menu-button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20%;
    height: 100px;
    width: 60%;
    font-size: 35px;
    color: white;
    font-family: cursive;
    text-decoration: underline;
    font-weight: lighter;
    font-style: oblique;
}

.sign-up-section {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5pc;
    border-radius: 10px;
}

#sign-up-div {
    width: 50%;
    float: left;
}

#sign-up-button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20%;
    height: 100px;
    width: 60%;
    font-size: 35px;
    color: white;
    font-family: cursive;
    text-decoration: underline;
    font-weight: lighter;
    font-style: oblique;
}

#sign-up-paragraphe {
    font-size: 20px;
    padding: 2.5pc;
    text-align: justify;
    color: white;
    font-family: Arial;
    font-style: italic;
}

.a-propos-nous-section {
    height: 600px;
    background-color: rgba(98, 81, 81, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5pc;
    border-radius: 10px;
}

#a-propos-nous-div {
    width: 50%;
    float: left;
}

#a-propos-nous-titre {
    font-weight: bold;
    text-decoration: underline;
    font-family: cursive;
}

#a-propos-nous-paragraphe {
    font-size: 20px;
    padding: 2pc;
    text-align: justify;
    color: white;
    font-family: Arial;
    font-style: italic;
}

#maps {
    padding-left: 5%;
    height: 350px;
    width: 90%;
    border-radius: 10px;
}


/* Login Page */

.login-form {
    height: auto;
    background-color: whitesmoke;
    margin-left: 5pc;
    margin-bottom: 5pc;
    margin-right: 5pc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#login-form-titre {
    margin-left: 5pc;
    margin-top: 5pc;
    font-size: 30px;
}

#login-form-div {
    padding: 2.5pc;
}


/* Signup Page */

.sign-up-form-section {
    height: auto;
    background-color: whitesmoke;
    margin-left: 5pc;
    margin-bottom: 5pc;
    margin-right: 5pc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#sign-up-form-titre {
    margin-left: 5pc;
    margin-top: 5pc;
    font-size: 30px;
}

#sign-up-form-div {
    padding: 2.5pc;
}


/* Reservation Page */

.reservation-header-section {
    height: 350px;
    background-color: rgb(194, 105, 105);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#reservation-header-div {
    text-align: center;
    padding-top: 100px;
}

#reservation-header-title {
    font-size: 65px;
    color: white;
    font-family: cursive;
<<<<<<< HEAD
  }

  .reservation-form-section {
    height: 450px;
    width: 80%;
    margin: 8%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  #reservation-form-div {
    width: 50%;
    float: left;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
  }

  #resservation-form-titre {
    margin-left: 4%;
    margin-top: 10%;
    font-size: 30px;
  }
  
=======
}


/* Menu Page */
>>>>>>> 4630a49790ee2490754d98f3d8d11bbaadc8146c
