<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs')%>
</head>
<body>
  <section>
    <h1>Mamma's Pizza</h1>
  </section>

  <%- include('../partials/bootstrap.ejs')%>
</body>
</html>