<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs')%>
</head>
<body>
  <%- include('../partials/navbar.ejs')%>
  
  <section id="front-header">
    <div id="front-header-div">
      <span id="front-header-title">Mamma's Pizza's</span><br>
      <span id="front-header-small-text">Savourez chaque tranche à la pizzeria Mama - La maison du meilleur croûton en ville!</span>
    </div>
  </section>

  <%- include('../partials/bootstrap.ejs')%>
  <%- include('../partials/footer.ejs')%>
</body>
</html>