<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
    <style>
      .login-form {
        height: auto;
        background-color: whitesmoke;
        margin-left: 5pc;
        margin-bottom: 5pc;
        margin-right: 5pc;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      }

      #login-form-titre {
        margin-left: 5pc;
        margin-top: 5pc;
        font-size: 30px;
      }

      #login-form-div {
        padding: 2.5pc;
      }
    </style>
</head>

<body>
  <%- include('../partials/navbar.ejs')%>
    <br>
    <br>
    <span id="login-form-titre">Connexion : </span>
    <section class="login-form">
      <div id="login-form-div">
        <form action="/login" method="post">

          <div class="form-group">
            <label for="login-email">Address Courriel :</label>
            <input type="email" class="form-control" id="login-email" name="login-email" aria-describedby="emailHelp"
              placeholder="Entrer courriel" required>
          </div>
          <div class="form-group">
            <label for="login-password">Mot de Passe :</label>
            <input type="password" class="form-control" id="login-password" name="login-password"
              placeholder="Mot de Passe" required>
          </div>

          <small>Pas de Compte!<a href="/signup"> Cliquer Ici.</a></small><br><br>

          <button type="submit" class="btn btn-secondary">Connexion</button>
        </form>
      </div>
    </section>

    <%- include('../partials/bootstrap.ejs')%>
      <%- include('../partials/footer.ejs')%>
</body>

</html>