<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>
        <!-- Menu -->
        <div id="menu">
            <!-- Titre -->
            <div id="menu-front-header">
                <img src="">
                <span id="menu-titre">Notre Menu</span>
            </div>

            <!-- Pizzas avec viandes -->
            <div class="menu-categorie">
                <img src="">
                <span class="menu-categorie">Pizzas avec viandes</span>
                <div class="menu-item">
                    <img src="img/Pepperoni.png">
                    <span class="menu-item-nom">Pepperoni</span>
                    <span class="menu-item-description">Pepperoni et fromage mozzarella</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/PouletBuffalo.png">
                    <span class="menu-item-nom">Poulet buffalo</span>
                    <span class="menu-item-description">Poulet barbecue, oignons rouges, et fromage parmesan sur une base à la sauce Buffalo</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/Carnivore.png">
                    <span class="menu-item-nom">Carnivore</span>
                    <span class="menu-item-description">Garnie de pepperoni classique, bacon émietté, salami, de saucisse italienne épicée, de fines herbes italiennes, et de mozzarella</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
            </div>

            <!-- Pizzas végétariennes -->
            <div class="menu-categorie">
                <img src="">
                <span class="menu-categorie">Pizzas végétariennes</span>
                <div class="menu-item">
                    <img src="img/Végétarienne.png">
                    <span class="menu-item-nom">Végétarienne</span>
                    <span class="menu-item-description">Croûte multi grains de blé entier garnie de poivrons verts, champignons frais, tomates Roma et fromage mozzarella</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/Mediterranienne.png">
                    <span class="menu-item-nom">Méditérannienne</span>
                    <span class="menu-item-description">Garnie d'olives Kalamata, brocoli, tomates sechees au soleil, oignons rouges, feta et mozzarella</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/CremeuseAil.png">
                    <span class="menu-item-nom">Crémeuse à l'ail</span>
                    <span class="menu-item-description">Chaque bouchée regorge d'une délicieuse saveur crémeuse à l'ail et chaque pizza commence par une sauce de base crémeuse à l'ail suivi d'un mélange de six fromages et le tout est garni de parmesan et d'ail rôti</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
            </div>

            <!-- Poulet -->
            <div class="menu-categorie">
                <img src="">
                <span class="menu-categorie">Poulet</span>
                <div class="menu-item">
                    <img src="img/Ailes.png">
                    <span class="menu-item-nom">Ailes</span>
                    <span class="menu-item-description">Ailes de poulet classiques</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/BoucheePoulet.png">
                    <span class="menu-item-nom">Bouchées de poulet</span>
                    <span class="menu-item-description">Bouchées de poulet désossé, entièrement faites de tendre viande blanche</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/PouletPopcorn.png">
                    <span class="menu-item-nom">Poulet popcorn</span>
                    <span class="menu-item-description">Bouchées tendres, juteuses et légèrement assaisonnées</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
            </div>

            <!-- Frites -->
            <div class="menu-categorie">
                <img src="">
                <span class="menu-categorie">Frites</span>
                <div class="menu-item">
                    <img src="img/Frite.png">
                    <span class="menu-item-nom">Frites</span>
                    <span class="menu-item-description">Boîte de frites dorées</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/FritePatateDouce.png">
                    <span class="menu-item-nom">Frites de patates douces</span>
                    <span class="menu-item-description">Boîte de frites de patates douces coupées en lanières</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/QuartierPommeDeTerre.png">
                    <span class="menu-item-nom">Quartiers de pomme de terre</span>
                    <span class="menu-item-description">Boîte de quartiers de pomme de terre assaisonnés d'un savoureux mélange d'herbes et d'épices</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
            </div>

            <!-- Boissons -->
            <div class="menu-categorie">
                <img src="">
                <span class="menu-categorie">Boissons</span>
                <div class="menu-item">
                    <img src="img/Dasani.png">
                    <span class="menu-item-nom">Bouteille d'eau</span>
                    <span class="menu-item-description">Bouteille d'eau Dasani de 591ml</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/Nestea.png">
                    <span class="menu-item-nom">Thé glacé Nestea</span>
                    <span class="menu-item-description">Bouteille de Nestea de 500ml</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/Monster.png">
                    <span class="menu-item-nom">Monster original</span>
                    <span class="menu-item-description">Canette de Monster de 473ml</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
            </div>

            <!-- Trempettes -->
            <div class="menu-categorie">
                <img src="">
                <span class="menu-categorie" `>Trempettes</span>
                <div class="menu-item">
                    <img src="img/Barbecue.png">
                    <span class="menu-item-nom">Sauce barbecue</span>
                    <span class="menu-item-description">Tasse de sauce barbecue</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/Jalapeno.png">
                    <span class="menu-item-nom">Cheddar jalapeno</span>
                    <span class="menu-item-description">Tasse de sauce cheddar jalapeno</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
                <div class="menu-item">
                    <img src="img/Buffalo.png">
                    <span class="menu-item-nom">Sauce au buffalo</span>
                    <span class="menu-item-description">Tasse de sauce au buffalo</span>
                    <button class="menu-commander">Personnaliser</button>
                </div>
            </div>
        </div>
        <%- include('../partials/bootstrap.ejs')%>
            <%- include('../partials/footer.ejs')%>
</body>

</html>