<% if (successMessage) { %>
    <div class="alert alert-success" role="alert">
        <%= StatusMessage %>
    </div>
<% } else if (failedMessage) { %>
    <div class="alert alert-danger" role="alert">
        <%= StatusMessage %>
    </div>
<% } else { %><% } %>