<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/img/PizzaLogoNavbar.png" width="40" height="40" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/menu">Menu<span class="sr-only">(current)</span></a>
            </li>
            <% if (Authentification) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/reservation">Réservation<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Critique
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/reviewList">Critiques<span class="sr-only">(current)</span></a>
                        <a class="dropdown-item" href="/review">Faire une critique<span class="sr-only">(current)</span></a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Votre Info
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/account">Compte<span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">
                            <%= LoggedInForm.cl_prenom %>
                                <%= LoggedInForm.cl_nom %>
                        </a>
                        <a class="dropdown-item" href="/logout">Déconnexion<span class="sr-only">(current)</span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/panier">Panier<span class="sr-only">(current)</span></a>
                </li>
                <% if (adminPrivilege) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">Tableau de bord<span class="sr-only">(current)</span></a>
                    </li>
                    <% } %>
        </ul>
    </div>
    <% } else { %>
        <li class="nav-item">
            <a class="nav-link" href="/reviewList">Critiques<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Se connecter<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">S'inscrire<span class="sr-only">(current)</span></a>
        </li>
        </ul>
        </div>
        <% } %>
</nav>