<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <%- include('../partials/navbar.ejs')%>

  <h3 id="panier-title">
    Panier de Soumission
    <hr>
  </h1>
  <section class="panier-item-section">
    <div class="panier-item-div">
      
    </div>
    <div class="panier-payment-div">
      
    </div>
  </section>

  <%- include('../partials/bootstrap.ejs')%>
  <%- include('../partials/footer.ejs')%>
</body>

</html>