<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <%- include('../partials/navbar.ejs')%>

  <h3 id="panier-title">
    Panier de Soumission
    <hr>
  </h1>
  <section class="panier-item-section">
    <div class="panier-item-div">
      <!-- here will be the items that will be in the panier -->
    </div>
    <div class="panier-payment-div">
      <div class="panier-payment-half-one">
        <!-- here will be the subtotal taxe and shipping -->
      </div>
      <div class="panier-payment-half-two">
        <!-- here will be the amount of money that it will show -->
      </div>
    </div>
  </section>

  <%- include('../partials/bootstrap.ejs')%>
  <%- include('../partials/footer.ejs')%>
</body>

</html>