<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <%- include('../partials/navbar.ejs')%>
  <div id="item">
    <!-- <%#= item.nom %> (Enlever le #)-->
    <h1 id="item-titre">Nom de l'item</h1>
    <!-- <%#= item.image %> -->
    <img id="item-image" src="img/Ailes.png" alt="Image de l'item">
    <!-- <%#= item.description %> -->
    <p id="item-description">Description de l'item</p>
    <div id="item-commander">
      <button class="item-incrementation" onclick="decrementer()">-</button>
      <p id="item-quantite">1</p>
      <button class="item-incrementation" onclick="incrementer()">+</button>
      <p id="item-prix">5$</p>
    </div>
    <button id="item-ajouter-panier" onclick="ajouterAuPanier()">Ajouter au panier</button>
  </div>
  <%- include('../partials/bootstrap.ejs')%>
  <%- include('../partials/footer.ejs')%>
</body>
</html>