/* Global */

* {
    font-family: Arial, Helvetica, sans-serif;
}


/* Index Page */

.front-header {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(194, 105, 105);
    height: 60%;
    display: flex;
}

#front-header-div {
    text-align: center;
    width: 50%;
    float: left;
}

#front-header-text {
    padding-top: 150px;
}

#front-header-small-text {
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: lighter;
}

#front-header-title {
    font-size: 65px;
    color: white;
    font-family: cursive;
}

#front-header-img {
    padding-top: 25px;
    padding-left: 2.5%;
}

.nos-special-section {
    margin: 5pc;
    height: 30%;
    background-color: rgb(185, 181, 181, 0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nos-special-div {
    margin-left: 5%;
    width: 90%;
    float: none;
}

.nos-special-item {
    height: 20pc;
    width: 33.33%;
    float: left;
    margin-bottom: 3pc;
    text-align: center;
}

.nos-special-item-txt {
    font-size: 30px;
    font-weight: lighter;
    color: white;
    font-family: cursive;
}

.nos-special-item-img {
    width: 90%;
    padding-left: 5%;
}

.nos-special-item-prix {
    font-size: 20px;
    font-weight: lighter;
    color: white;
}

#nos-special-txt {
    padding-top: 20px;
    padding-left: 20px;
}

#nos-special-title {
    font-size: 40px;
    font-family: cursive;
    text-decoration: underline;
    font-weight: lighter;
    font-style: oblique;
    color: white;
}

#nos-special-paragraphe {
    font-size: 20px;
    padding: 6pc;
    text-align: justify;
    color: white;
    font-style: italic;
}

.menu-section {
    margin: 5pc;
    border-radius: 10px;
    height: 30%;
    display: flex;
    background-color: rgb(194, 105, 105);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-div {
    width: 50%;
    float: left;
}



#menu-paragraphe {
    font-size: 20px;
    padding: 2.5pc;
    text-align: justify;
    color: white;
    font-style: italic;
}

#menu-button {    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20%;
    height: 30%;
    display: flex;
    width: 60%;
    font-size: 35px;
    color: white;
    font-family: cursive;
    text-decoration: underline;
    font-weight: lighter;
    font-style: oblique;
}

#menu-button:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

.sign-up-section {
    height: 30%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5pc;
    border-radius: 10px;
}

#sign-up-div {
    width: 50%;
    float: left;
}

#sign-up-button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 20%;
    height: 50%;
    display: flex;
    width: 60%;
    font-size: 35px;
    color: white;
    font-family: cursive;
    text-decoration: underline;
    font-weight: lighter;
    font-style: oblique;
}

#sign-up-button:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

#sign-up-paragraphe {
    font-size: 20px;
    padding: 2.5pc;
    text-align: justify;
    color: white;
    font-style: italic;
}

.a-propos-nous-section {
    height: 50%;
    display: flex;
    background-color: rgba(98, 81, 81, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5pc;
    border-radius: 10px;
}

#a-propos-nous-div {
    align-self: auto;
    width: 50%;
    float: left;
}

#a-propos-nous-titre {
    font-weight: bold;
    text-decoration: underline;
    font-family: cursive;
}

#a-propos-nous-paragraphe {
    font-size: 20px;
    padding: 2pc;
    text-align: justify;
    color: white;
    font-style: italic;
}

#maps {
    padding-left: 5%;
    height: 350px;
    width: 90%;
    border-radius: 10px;
}


/* Login Page */

.login-form {
    height: auto;
    background-color: whitesmoke;
    margin-left: 5pc;
    margin-bottom: 5pc;
    margin-right: 5pc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#login-form-titre {
    margin-left: 5pc;
    margin-top: 5pc;
    font-size: 30px;
}

#login-form-div {
    padding: 2.5pc;
}


/* Signup Page */

.sign-up-form-section {
    height: auto;
    background-color: whitesmoke;
    margin-left: 5pc;
    margin-bottom: 5pc;
    margin-right: 5pc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#sign-up-form-titre {
    margin-left: 5pc;
    margin-top: 5pc;
    font-size: 30px;
}

#sign-up-form-div {
    padding: 2.5pc;
}


/* Reservation Page */

.reservation-header-section {
    height: 350px;
    background-color: rgb(194, 105, 105);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#reservation-header-div {
    text-align: center;
    padding-top: 100px;
}

#reservation-header-title {
    font-size: 65px;
    color: white;
    font-family: cursive;
}

.reservation-form-section {
    height: 450px;
    width: 80%;
    margin: 8%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#reservation-form-div {
    width: 50%;
    float: left;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}

#resservation-form-titre {
    margin-left: 4%;
    margin-top: 10%;
    font-size: 30px;
}


/* Menu Page */

#menu-front-header {
    background-color: rgb(194, 105, 105);
    height: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#menu-titre {
    align-self: center;
    font-size: 4em;
    color: white;
    font-family: cursive;
}

.menu-categorie {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 2%;
}

.menu-categorie-titre {
    font-size: 2em;
    text-align: center;
    padding-bottom: 1%;
}

.menu-item {
    border-radius: 10px;
    width: 20%;
    background-color: whitesmoke;
    padding-bottom: 2%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-item-image {
    width: 250px;
    height: 250px;
}

.menu-item-description {
    width: 90%;
    padding-left: 5%;
    padding-bottom: 2%;
}

.menu-commander {
    padding: 10px 50px 10px 50px;
    border: solid white 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(194, 105, 105);
    color: white;
    font-size: 20px;
}

.menu-commander:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}


/* Item Page */

#item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#item-titre {
    font-size: 2.5em;
    font-family: cursive;
    margin: 2.5% 0 1% 0;
}

#item-image {
    width: 250px;
    height: 250px;
}

#item-description {
    width:60%;
    font-size: 1.5em;
}

#item-commander {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin: 1% 0 1% 0;
}

.item-incrementation {
    border: 1px black solid;
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 1.5em;
}

#item-quantite {
    text-align: center;
    font-size: 20px;
    width: 5%;
}

#item-prix {
    text-align: left;
    font-size: 20px;
    width: 15%;
}

#item-ajouter-panier {
    padding: 10px 50px 10px 50px;
    border: solid white 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(194, 105, 105);
    color: white;
    font-size: 20px;
    margin-bottom: 5%;
}

#item-ajouter-panier:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

.item-input {
    pointer-events: none;
    background-color: transparent;
    border: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

/* Logout Button */

#logout-btn {
    font-size: 16px;
    font-weight: lighter;
    border-color: gray;
    border-width: thin;
    color: gray;
    background-color: transparent;
}

#logout-btn:hover {
    color: black;
    border-color: black;
}


/* Account Page */

#account-form-title {
    margin-left: 5pc;
    margin-top: 5pc;
    font-size: 30px;
}

.account-form-section {
    height: 850px;
    background-color: whitesmoke;
    margin-left: 5pc;
    margin-bottom: 5pc;
    margin-right: 5pc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#account-form-div {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}

/* Review list page */

.reviewer-section {
    margin-left: 5pc;
    margin-bottom: 5pc;
    margin-right: 5pc;
}

#reviewer-div {
    height: auto;
    background-color: whitesmoke;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 5pc;
    margin-bottom: 5pc;
    margin-right: 5pc;
}

#reviewer-name {
    font-size: 13px;
}

#reviewer-stare {
    font-size: 13px;
}

#reviewer-title {
    font-size: 18px;
}

#reviewer-content {
    font-size: 15px;
}

/* Panier Page */

#panier-title {
    margin-top: 3%;
    margin-left: 5pc;
    margin-right: 5pc;
}

.panier-item-div {
    height: auto;
    background-color: whitesmoke;
    padding: 2% 4% 2% 4%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 5pc;
    margin-right: 5pc;
}

.panier-payment-div {
    height: 20pc;
    width: 90%;
    display: flex;
    margin-bottom: 5pc;
    margin-left: 5.5pc;
    margin-right: 5pc;
    margin-top: 1.5pc;
}

.panier-payment-one {
    width: 40%;
}

.panier-payment-two {
    width: 40%;
    text-align: right;
}

.panier-payment-three {
    width: 20%;
    text-align: center;
}

#panier-payment-text {
    font-size: 18px;
    font-weight: lighter;
}

#panier-payment-amount {
    font-size: 18px;
    font-weight: lighter;
}

.panier-item-table {
    width: 100%;
}

#panier-item-table-header {
    border-bottom: 1px solid black;
}

#panier-item-table-image {
    width: 20%;
}

#panier-item-table-nom {
    width: 40%;
}

#panier-item-table-quantite {
    width: 10%;
}

#panier-item-table-prix {
    width: 10%;
}

#panier-item-table-button {
    width: 10%;
}

#panier-item-table-content {
    border-spacing: 10px;
}

#panier-item-input-image {
    width: 30%;
    height: 30%;
}

/* Section admin */

body {
    background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}
    
/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}
    
@media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
    
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; 
}

.title-navbar {
    font-size: 20px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

#panier-item-input-button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#panier-item-input-button:hover {
    border: solid 2px rgb(194, 105, 105);
    color: black;
    background-color: white;
    transition: 0.3s;
}

/* Dashboard */

.line-dashboard {
    margin-left: 3pc;
    margin-right: 3pc;
}

#titre-dashboard {
    font-size: 35px;
    font-weight: 300;
}

.section-statistique {
    height: 15pc;
    margin-left: 3pc;
    margin-right: 3pc;
    display: flex;
    margin-top: 2pc;
    margin-bottom: 2pc;
}

.div-statistique {
    height: 80%;
    width: 20%;
    margin-left: 4%;
    margin-top: 1.5pc;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.num-statistique-card {
    font-size: 100px;
    font-family: cursive;
    font-weight: bold;
    color: grey;
}

.name-statistique-card {
    font-size: 15px;
    font-family: cursive;
    font-weight: lighter;
    color: gray;
}

.section-prd-cmd {
    height: 25pc;
    margin-left: 3pc;
    margin-right: 3pc;
    margin-bottom: 2pc;
    display: flex;
}

.div-most-prod {
    height: 90%;
    width: 30%;
    margin-top: 1.4pc;
    margin-left: 3.33%;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.content-most-prod {
    width: 80%;
    margin-left: 10%;
    margin-top: 1pc;
    margin-bottom: 1pc;
}


.most-prod-titre {
    font-size: 22px;
    font-family: cursive;
    color: gray;
}

.most-prod-line {
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 0.5pc;
}

.most-prod-img-line {
    width: 30%;
    text-align: center;
}

.most-prod-img {
    height: 45px; 
    width: 50px; 
    background-color: gray; 
    margin-left: 0.5pc;
}

.most-prod-name-line {
    width: 70%;
    padding-top: 0.7pc;
    text-align: center;
}

#most-prod-name {
    font-size: 15px;
    font-family: cursive;
    color: gray;
}

.div-recent-cmd {
    height: 90%;
    width: 60%;
    margin-top: 1.4pc;
    margin-left: 3.33%;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.content-recent-cmd {
    width: 90%;
    margin-left: 5%;
    margin-top: 1pc;
    margin-bottom: 1pc;
}

.recent-cmd-titre {
    font-size: 22px;
    font-family: cursive;
    color: gray;
}

.recent-cmd-line {
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 0.5pc;
}

.recent-cmd-id-line {
    width: 15%;
    height: 2.5pc;
    text-align: center;
    padding-top: 0.5pc;
}

.recent-cmd-name-line {
    width: 30%;
    height: 2.5pc;
    text-align: center;
    padding-top: 0.5pc;
}

.recent-cmd-date-line {
    width: 30%;
    height: 2.5pc;
    text-align: center;
    padding-top: 0.5pc;
}

.recent-cmd-status-line {
    width: 25%;
    height: 2.5pc;
    text-align: center;
    padding-top: 0.5pc;
}

.recent-cmd-header-txt {
    font-size: 15px;
    font-family: cursive;
    color: gray;
    font-weight: bold;
}

.recent-cmd-id {
    font-size: 14px;
    font-family: cursive;
    color: gray;
}

.recent-cmd-name {
    font-size: 14px;
    font-family: cursive;
    color: gray;
}

.recent-cmd-date {
    font-size: 14px;
    font-family: cursive;
    color: gray;
}

.recent-cmd-status {
    font-size: 14px;
    font-family: cursive;
    color: gray;
}

/* Page admin nos produit */

.section-nos-produit {
    height: auto;
    margin-left: 3pc;
    margin-right: 3pc;
    margin-top: 2pc;
    margin-bottom: 2pc;
}

.category-nos-produit {
    font-size: 20px;
    font-weight: 100;
    font-family: cursive;
    margin-top: 0.5pc;
    margin-bottom: 0.5pc;
    width: 100%;
    color: gray;
}

.nos-produit-line {
    width: 100%;
    margin-bottom: 1pc;
    display: flex;
}

.nos-produit-img-line {
    width: 10%;
    height: 5pc;
    text-align: center;
    padding-top: 0.5pc;
}

.nos-produit-img {
    width: 65px;
    height: 65px;
}

.nos-produit-id-line {
    width: 30%;
    height: 5pc;
    text-align: center;
    padding-top: 1.8pc;
}

.nos-produit-id {
    font-size: 14px;
    font-family: cursive;
    color: gray;
}

.nos-produit-name-line {
    width: 30%;
    height: 5pc;
    text-align: center;
    padding-top: 1.8pc;
}

.nos-produit-name {
    font-size: 14px;
    font-family: cursive;
    color: gray;
}

.nos-produit-prix-line {
    width: 12%;
    height: 5pc;
    text-align: center;
    padding-top: 1.9pc;
}

.nos-produit-prix {
    font-size: 12px;
    font-family: cursive;
    color: gray;
}

.nos-produit-btn-line {
    width: 18%;
    height: 5pc;
    display: flex;
}

.nos-produit-btn-edit {
    width: 4.5pc;
    height: 2pc;
    margin-top: 1.6pc;
    margin-left: 0.4pc;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: 600;
    border-color: blue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nos-produit-btn-del {
    width: 4.5pc;
    height: 2pc;
    margin-top: 1.6pc;
    margin-left: 0.7pc;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 600;
    border-color: red;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* page admin reservation */

.section-reservation {
    margin-left: 3pc;
    margin-right: 3pc;
    height: auto;
}

.div-reservation-titre {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    color: gray;
}

.div-arrived-reservation {
    margin-top: 2pc;
    margin-bottom: 2pc;
}

.header-reservation-line {
    height: 3pc;
    width: 100%;
    display: flex;
    margin-bottom: 0.5pc;
    font-family: cursive;
    text-align: center;
    color: white;
    background-color: gray;
}

.not-arrived-reservation-line {
    height: 3pc;
    width: 100%;
    display: flex;
    margin-bottom: 1pc;
    text-align: left;
    font-family: cursive;
    color: gray;
}

.reservation-name-line {
    width: 30%;
    height: auto;
    padding-top: 0.8pc;
    padding-left: 0.2pc;
}

.reservation-siege-line {
    width: 20%;
    height: auto;
    padding-top: 0.8pc;
}

.reservation-date-line {
    width: 40%;
    height: auto;
    padding-top: 0.8pc;
}

.reservation-btn-line {
    width: 10%;
    height: auto;
    padding-top: 0.5pc;
}

.reservation-btn {
    width: 4.5pc;
    height: 2pc;
    border-radius: 10px;
    background-color:green;
    color: white;
    font-weight: 600;
    border-color: green;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.arrived-reservation-line {
    height: 3pc;
    width: 100%;
    display: flex;
    margin-bottom: 1pc;
    text-align: left;
    font-family: cursive;
    color: gray;
    background-color: rgba(0, 0, 0, 0.2);
}

.reservation-btn-true {
    width: 4.5pc;
    height: 2pc;
    border-radius: 10px;
    background-color:grey;
    color: white;
    font-weight: 600;
    border-color: gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}